<div class="row">
    <div class="col-md-6">
        <div data-id="{{id}}">
            <h4>Ingredient: {{ingredient}}</h4>
            <p>Expires: {{expirationDate}}</p>
            <button class="btn exp-shop">Move Item to Shopping List</button>
            <hr>
        </div>
    </div>
</div>