<div class="row">
    <div class="col-md-6">
        <div data-id="{{id}}">
            <p><input class="checked-ingredients" type="checkbox">{{ingredient}}</p>
            <hr>
        </div>
    </div>
</div>
