<div class="row">
    <div class="col-md-6">
        <div data-id="{{id}}">
            <p><input type="checkbox" name="ingredient" class="checked-ingredients" value="{{ingredient}}">{{ingredient}}</p>
            <hr>
        </div>
    </div>
</div>
