<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/logout">Logout</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="my-fridge">My Fridge<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="recipes">Find Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="shopping-list">Shopping List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="expired-items">Expired Fridge Items</a>
            </li>
        </ul>
    </div>
</nav>