<div class="row">
    <div class="col-md-6">
        <div data-id="{{id}}">
        <p>{{title}}</p>
        <img src={{image}}>
        <button type="button" data-id="{{id}}" class="btn btn-secondary view-recipe">View Recipe</button>
        </div>
    </div>
</div>