<div class="container">
    <div class="row">
        <div class="col-md-6 recipe">
            <div data-id="{{id}}">
                <p id="recipe-title">{{title}}</p>
                <img class="recipe-image" src={{image}}>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" data-id="{{id}}" class="btn view-recipe">View
                            Recipe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>