<div class="shopping-list-container">
    <div class="row">
        <div class="col-md-6">
            <div data-id="{{id}}">
                <p>Item: {{ingredient}}</p>
                <p>Quantity: {{quantity}}</p>
                <hr>
            </div>
        </div>
    </div>
</div>