<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Muli&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="/styles/{{#if style}}{{style}}{{else}}styles.css{{/if}}" media="screen" title="no title" charset="utf-8">

  <title>Home Page</title>
</head>

<body>
  {{{body}}}

  <script src="/js/app.js"></script>
</body>

</html>