{{> nav-block}}
<div class="container expired-item-block">
    <div class="row">
        <div class="col-6">
            <h2>Expired Items</h2>
            {{#each expiredItems}}
                {{> expired-block}}
            {{/each}}
        </div>
    </div>
</div>