<link rel="stylesheet" href="find-recipes.css">
{{> nav-block}}
<div class="find-recipes">
    <div class="container">
         <h3>Select the ingredients that you would like to include in your recipe search.</h3>
  {{#each ingredients}}
      {{> ingredient-list}}
  {{/each}}
<button type="button" class="btn btn-primary submit-ingr">Submit Ingredients</button>
    </div>
</div>