<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
<div class="index-page">
	<div class="row" id="logInForm">
		<div class="col-md-12" id="index-header">
		</div>
			<div class="col-md-12">
				<div class="container sign-in-container">
					<div class="d-flex justify-content-center h-100 wow fadeInUp" data-wow-duration="0.75s" data-wow-delay=".5s">
						<div class="card">
							<div class="card-header">
								<h3 id="reg-desc">Register your account or sign in to view your pantry items and search for recipes.</h3>
							</div>
							<form class="sign-in-form">
								<div class="form-group">
									<label for="exampleInputPhone1">Phone Number</label>
									<input type="phone" id="phone" class="form-control" aria-describedby="phoneHelp">
									<small id="phoneHelp" class="form-text text-muted">Enter your phone number with
										no
										spaces or symbols between numbers.</small>
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">Password</label>
									<input type="password" id="password" class="form-control">
								</div>
								<div class="form-group">
									<button type="submit" class="btn float-left login_btn" id="loginButton"
										name="loginButton">Login</button>
								</div>
								<div class="form-group">
									<button type="submit" class="btn float-right register_btn" id="registerButton"
										name="registerButton">Register</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
<script>new WOW().init()</script>