 <div class="container" id="logInForm">
        <h1>Fridge Friend</h1>
        <p id="signIn">Register your account or sign in to view your pantry items and search for recipes.</p>
      <div>
        <input type="email" id="txtEmail" placeholder="Enter email"/><br/>
        <input type="password" id="password" placeholder="Enter password"/><br/>
        <button id="btnLogin" class="btn btn-primary">Log in</button>
        <button id="btnSignUp" class="btn btn-primary">Register</button>
      </div>
    </div>
    </div>
