{{> nav-block}}
<div class="fridge-page">
  <div class="row">
    <div class="col-md-8 fridge-items">
      <h2>Here are the current ingredients in your fridge:</h2>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="container ingr-block">
              {{#each ingredients}}
              {{> ingredients-block}}
              {{/each}}
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-4" id="add-item">
      <h2>Add New Items</h2>
      <form>
        <div class="form-group">
          <label for="ingredient">Item:</label>
          <input type="text" class="form-control" id="ingredient" placeholder="Enter Item Name">
        </div>
        <div class="form-group">
          <label for="quantity">Quantity:</label>
          <input type="text" class="form-control" id="quantity" placeholder="Enter Quantity">
        </div>
        <div class="form-group">
          <label for="expiration-date">Expiration:</label>
          <input type="text" class="form-control" id="expiration-date" placeholder="Enter Expiration Date(MM/DD/YYYY)">
        </div>
        <div class="form-group">
          <label for="frequency">Freqency:</label>
          <input type="text" class="form-control" id="frequency" placeholder="Enter Frequency(per week)">
        </div>
<<<<<<< HEAD
        <button class="btn" id="submit-ingredient">Add Item</button>
=======
        <button id="submit-ingredient" class="btn">Add Item</button>
>>>>>>> Changed a bit of things
      </form>

    </div>
  </div>
</div>
</div>