{{> nav-block}}
<div class="container">
  <div class="row">
    <div class="col-6">
      <h2>My Fridge</h2>
      <p>Click ingredients you want to search for a recipe!</p>
      {{#each ingredients}}
      {{> ingredients-block}}
      {{/each}}
    </div>
    <div class="col-6">
      <h2>Add New Items</h2>
      <form>
        <div class="form-group">
          <label for="ingredient">Item:</label>
          <input type="text" class="form-control" id="ingredient" placeholder="Enter Item Name">
        </div>
        <div class="form-group">
          <label for="quantity">Quantity:</label>
          <input type="text" class="form-control" id="quantity" placeholder="Enter Quantity">
        </div>
        <div class="form-group">
          <label for="expiration-date">Expiration:</label>
          <input type="text" class="form-control" id="expiration-date" placeholder="Enter Expiration Date(MM/DD/YYYY)">
        </div>
        <div class="form-group">
          <label for="frequency">Freqency:</label>
          <input type="text" class="form-control" id="frequency" placeholder="Enter Frequency(per week)">
        </div>
        <button id="submit-ingredient">Create</button>
      </form>

    </div>
  </div>
</div>