{{> nav-block}}
<div class="container">
  <h2>Placeholder - Full List of Recipe Ingredients Goes Here</h2>
  <p>Allow users to click on which ingredients they want to search for</p>
  <p>This data comes from the database</p>
</div>