{{> nav-block}}
<div class="container">
  {{#each recipe}}
  {{> recipe-block}}
  {{/each}}

</div>
<div class="container">
  {{#with viewRecipe}}
  {{> view-recipe}}
  {{/with}}
</div>

<div class="container">
  {{#each ingredients}}
      {{> ingredient-list}}
  {{/each}}
</div>
<div class="container">
<button type="button" class="btn btn-secondary">Submit</button>
</div>
