{{> nav-block}}
<div class="container col-md-12 recipe-block">
  {{#each recipe}}
  {{> recipe-block}}
  {{/each}}
<div class="container">
  {{#with viewRecipe}}
  {{> view-recipe}}
  {{/with}}
</div>
</div>


