{{> nav-block}}
<div class="container">
    <br>
    <br>
    <h3><strong>Shopping List</strong></h3>
    <div class="row">
        <div class="col-6">
            {{#each ingredients}}
                {{> shopping-block}}
            {{/each}}
        </div>

        <div class="col-6">
            <h5>Add Items to Shopping List</h5>
            <form>
                <div class="form-group">
                    <label for="ingredient">Item:</label>
                    <input type="text" class="form-control" id="ingredient" placeholder="Enter Item Name">
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity:</label>
                    <input type="text" class="form-control" id="quantity" placeholder="Enter Quantity">
                </div>
                <button id="addToShoppingList">Add to your shopping list</button>
            </form>
        </div>
    </div>
</div>