{{> nav-block}}

<div class="container">
    <br>
    <br>
    <div class="container">
    <h3 id="shopping-list"><strong>Shopping List</strong></h3>
    <div class="row">
        <div class="col-8">
            {{#each ingredients}}
            {{> shopping-block}}
            {{/each}}
        </div>


        <div class="col-md-4 list-form">
            <h5>Add Items to Your Shopping List</h5>
            <form>
                <div class="form-group">
                    <label for="ingredient">Item:</label>
                    <input type="text" class="form-control" id="ingredient" placeholder="Enter Item Name">
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity:</label>
                    <input type="text" class="form-control" id="quantity" placeholder="Enter Quantity">
                </div>
<<<<<<< HEAD
                <button class="btn" id="addToShoppingList">Add to Shopping List</button>
            </form>
        </div>
    </div>
    </div>
</div>
=======
                <button id="addToShoppingList" class="btn">Add to your shopping list</button>
            </form>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Item Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="shop-quantity">Quantity:</label>
                        <input type="text" class="form-control" id="shop-quantity" placeholder="Enter Quantity Purchased">
                    </div>
                    <div class="form-group">
                        <label for="shop-expiration-date">Expiration:</label>
                        <input type="text" class="form-control" id="shop-expiration-date"
                            placeholder="(Optional) Enter Expiration Date(MM/DD/YYYY)">
                    </div>
                    <div class="form-group">
                        <label for="shop-frequency">Freqency:</label>
                        <input type="text" class="form-control" id="shop-frequency" placeholder="(Optional) Enter Frequency(per week)">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="shop-submit-final" type="button" class="btn btn-primary">Add To Fridge</button>
            </div>
        </div>
    </div>
</div>
>>>>>>> Changed a bit of things
